@model Spel;
@using System.Security.Claims;

@{
    ViewData["Title"] = "Play";
    var currentUserId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    var kleur = currentUserId == Model.Speler1Token ? "wit" : "zwart";
}

<nav id="feedback" class="alert">
    <div id="feedback-top">
        <p id="feedback-text">De wedstrijd is geeindigt in een gelijkspel!</p>
    </div>
    <button class="btn" id="btn-akkoord">Spel verlaten</button>
</nav>

<style nonce="@ViewData["nonce"]">
    #feedback { display: none; }
</style>

<div class="wrapper">
    <div class="left part">
        <h6>Tegenstander: </h6>
        <p id="tegenstanderLbl"></p>
        <h6>Kat feitje: </h6>
        <p id="dogLbl"></p>
        <h6>Opties: </h6>
        <div id="btnDiv">
            <button class="btn" id="skipBtn">Passen</button>
            <button class="btn" id="giveupBtn">Opgeven</button>
        </div>
    </div>
    <div class="middle part">
        <p id="Color">Kleur: wit</p>
        <p id="Turn">beurt: wit</p>
        <div id="board"></div>
    </div>
    <div class="right part">
        <div class="chart-div">
            <canvas id="colourChart"></canvas>
            <canvas id="conqueredChart"></canvas>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://unpkg.com/regenerator-runtime@0.13.1/runtime.js"></script>
    <link rel="stylesheet" href="~/css/style.min.css">
    <script src="~/js/vendor.js"></script>
    <script src="~/js/templates.js"></script>
    <script src="~/js/app.js"></script>
    <script nonce="@ViewData["nonce"]">
	$(function () {
            	$("#btn-akkoord").on("click", function(){  window.location = `${window.location.origin}/Endgame?id=${@Model.ID}`;});
                Game.init('@Model.ID', '@currentUserId', afterInit, '@kleur');
            
            function afterInit() {
                Game.Reversi.updateNumberFact();
                console.log('Game init voltooid');
            }
        });
    </script>
}
